body {
  background-color: #f7c4cc; }

.head-container {
  display: flex;
  justify-content: center; }
  .head-container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: double black;
    margin: 30px; }
    @media screen and (min-width: 1000px) {
      .head-container .header {
        width: 70%; } }
    @media screen and (min-width: 700px) {
      .head-container .header {
        width: 80%; } }
    @media screen and (max-width: 700px) {
      .head-container .header {
        width: 100%; } }
    .head-container .header .heading {
      font-family: fantasy;
      margin: 0;
      padding-top: 20px; }
  .head-container .second-heading {
    font-family: fantasy;
    margin: 0;
    padding-bottom: 20px; }

@media screen and (min-width: 700px) {
  main {
    display: none; } }

.big-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   gap: 15px;
 */ }
  .big-img-container h3 {
    font-family: fantasy;
    text-decoration: underline;
    margin: 0;
    margin-top: 40px; }
  .big-img-container .img-container {
    width: 80%;
    height: 75vh; }
    .big-img-container .img-container a {
      width: 100%; }
      .big-img-container .img-container a .style-img {
        width: 100%;
        height: 100%; }

.carousel {
  position: relative;
  height: 400px;
  width: 80%;
  margin: 0 auto; }
  @media screen and (max-width: 700px) {
    .carousel {
      display: none; } }
  @media screen and (min-width: 700px) {
    .carousel {
      height: 80vh;
      width: 70%; } }
  @media screen and (min-width: 1000px) {
    .carousel {
      height: 80vh;
      width: 75%; } }
  .carousel .hide {
    display: none; }
  .carousel .btn-carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer; }
    .carousel .btn-carousel .bi {
      font-size: 20pt; }
  .carousel .btn-right {
    right: -50px; }
  .carousel .btn-left {
    left: -50px; }

.carousel_img {
  width: 100%;
  height: 100%; }

.carousel-container {
  height: 100%;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 700px) {
    .carousel-container {
      margin-top: 100px; } }
  .carousel-container .carousel-items {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 300ms ease-in; }
    .carousel-container .carousel-items .carousel-slide {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%; }

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px; }
  .carousel-nav .carousel-navs {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px;
    cursor: pointer; }
  .carousel-nav .current-slide {
    background: rgba(0, 0, 0, 0.8); }
