$font-style: fantasy;

@mixin phone {
  @media screen and (max-width: 700px) {
    @content;
  }
}
@mixin tablets {
  @media screen and(min-width:700px) {
    @content;
  }
}

@mixin desktop {
  @media screen and(min-width:1000px) {
    @content;
  }
}

body {
  background-color: rgb(247, 196, 204);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: double black;
  margin: 30px;

  .heading {
    font-family: $font-style;
    margin: 0;
    padding-top: 20px;

    /*     text-decoration-line: underline;
 */
  }

  .second-heading {
    font-family: $font-style;
    margin: 0;
    padding-bottom: 20px;
    /*     text-decoration: underline;
 */
  }
}

main {
  @include tablets() {
    display: none;
  }
}

.big-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   gap: 15px;
 */
  h3 {
    font-family: $font-style;
    text-decoration: underline;
    margin: 0;
    margin-top: 40px;
  }
  .img-container {
    width: 80%;
    height: 75vh;

    a {
      width: 100%;
      .style-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.carousel {
  position: relative;
  height: 400px;
  width: 80%;
  margin: 0 auto;

  @include phone() {
    display: none;
  }

  .btn-carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;

    .bi {
      font-size: 20pt;
    }
  }
  .btn-right {
    right: -50px;
  }

  .btn-left {
    left: -50px;
  }
}

.carousel_img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.carousel-container {
  background-color: lightgreen;
  height: 100%;
  position: relative;
  overflow: hidden;
  .carousel-items {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 0.5s ease-in;

    .carousel-slide {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  }
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px;

  .carousel-navs {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px;
  }
  .current-slide {
    background: rgba(0, 0, 0, 0.8);
  }
}
