$font-style: fantasy;

@mixin phone {
  @media screen and (max-width: 700px) {
    @content;
  }
}
@mixin tablets {
  @media screen and(min-width:700px) {
    @content;
  }
}

@mixin desktop {
  @media screen and(min-width:1000px) {
    @content;
  }
}

body {
  background-color: rgb(247, 196, 204);
}

.head-container {
  display: flex;
  justify-content: center;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: double black;
    margin: 30px;

    @include desktop() {
      width: 70%;
    }
    @include tablets() {
      width: 80%;
    }
    @include phone() {
      width: 100%;
    }
    .heading {
      font-family: $font-style;
      margin: 0;
      padding-top: 20px;
    }
  }

  .second-heading {
    font-family: $font-style;
    margin: 0;
    padding-bottom: 20px;
  }
}

main {
  @include tablets() {
    display: none;
  }
}

.big-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .item-description {
    font-family: $font-style;
    text-decoration: underline;
    margin: 0;
    margin-top: 40px;
  }
  .img-container {
    width: 80%;
    height: 75vh;

    a {
      width: 100%;
      .style-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.carousel {
  position: relative;
  margin: 0 auto;

  @include phone() {
    display: none;
  }
  @include tablets() {
    height: 80vh;
    width: 70%;
  }
  @include desktop() {
    height: 90vh;
    width: 75%;
  }

  .hide {
    display: none;
  }

  .btn-carousel {
    position: absolute;
    top: 55%;

    background: transparent;
    border: 0;
    cursor: pointer;

    .bi {
      font-size: 20pt;
    }
  }
  .btn-right {
    right: -50px;
  }

  .btn-left {
    left: -50px;
  }
}

.carousel_img {
  width: 100%;
  height: 100%;
}

.carousel-container {
  height: 100%;
  position: relative;
  overflow: hidden;

  @include tablets() {
    margin-top: 100px;
  }
  .carousel-items {
    padding: 0;
    margin: 0;

    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 300ms ease-in;

    .carousel-slide {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      .item-description {
        font-family: $font-style;
        text-decoration: underline;
      }
    }
  }
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px;

  .carousel-navs {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .current-slide {
    background: rgba(0, 0, 0, 0.8);
  }
}
